<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Échange services entre étudiants | Universe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/mesAnnoncesEnLigne.css"/>
        <script src="/js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>
      
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        
<div class="content">
		{% for a in annonces %}
		<div class="user">
        	Connecté en tant que: "{{ a[2] }}" | <a href='/'> Logout </a>
  		</div>
  		{% endfor %}
        
    	<div class="logo">
    		<img src="/img/Logo-unine.png" alt="Unine Logo"/>
        </div>
        
         <div class="accueil">
        	<a href='/compte'> Accueil</a> >> <a href='/compte/annonces'> Mes annonces</a> >> En Ligne
        </div>
        
         <a href='/compte/annonces'>
            <div class="hyperlien1">
            	Mes annonces
            </div></a>
            
            <div class="hyperlien2">
            Confidentialité
            </div>
            
            <a href='/compte/favoris'><div class="hyperlien3">
            Mes Favoris
            </div></a>
            
            <div class="hyperlien4">
            Mon Profil
            </div>
            
            <div class="onglet1">
        	En Ligne
        </div>
        
        <div class="onglet2">
        	<a href='/compte/annonces/archives'>Archives</a>
        </div>
        
       <div class="box">
            <div class="sub_box1">
            Vous avez actuellement 1 annonce(s) en ligne:
            </div>
             <div class="sub_box2">
            	Type  Title  Price 	Category 
            	<hr>
            	{% for a in annonces %}
           		<table>
           			<tr>
           				<td>
           					<dl>
           						<dt>{{ a[5] }}</dt><br>
           						<dt>{{ a[6] }}</dt><br>
           						<dt>Prix: {{ a[7] }} CHF {{ a[8]}}</dt><br>
           						<dt>Publié par: {{ a[2] }}</dt><br>
           						<dt>Contacte: {{ a[16] }} </dt><br>
           						<dt>Adresse:{{ a[12] }}, {{ a[13] }}, {{ a[14] }}</dt><br>
           						<dt>Faculté: {{ a[4] }}</dt><br>
           						<dt>Catégorie: {{ a[18] }} </dt><br>
           					
           					</dl>
           				</td>
           	
           				<td>
           					{% for pic in pics[a[0]] %}
           					
           						<dl><dt><a target="blank" href="{{pic[0]}}"><img class="Article" src="{{ pic[0] }}"/></a></dt></dl>
           						
           					{% endfor %}
           				</td>
           				
           			</tr>
           	
           		</table>
           		{% endfor %}
            </div>
       </div>
       
       <div class="band">
       		Petits annonces de l'université de Neuchâtel
       </div>
       
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
       
</div>
</html>
